/*
-----------------------------------------------------------------------------
MARGINS GUIDE
-----------------------------------------------------------------------------
DESCRIPTION
-----------------------------------------------------------------------------
*/
@mixin description() {
  margin: 100px;
}

/*
-----------------------------------------------------------------------------
OTHERS SECTIONS
-----------------------------------------------------------------------------
*/

@mixin gallery() {
  margin: 100px 0;
}

@mixin normal_section() {
  margin: 100px 0 120px 0;
}

/*
-----------------------------------------------------------------------------
CENTER LINE TO SEPARATE SECTIONS
-----------------------------------------------------------------------------
*/
@mixin line_center {
  width: 200px;
  border: 0;
  height: 3px;
  background-color: $secondary;
  margin-left: calc(50% - 100px);
  margin-bottom: 30px;
}
