/*
-----------------------------------------------------------------------------
MARGINS GUIDE
-----------------------------------------------------------------------------
DESCRIPTION
-----------------------------------------------------------------------------
*/
@mixin description() {
  margin: 100px;
}

/*
-----------------------------------------------------------------------------
OTHERS SECTIONS
-----------------------------------------------------------------------------
*/

@mixin gallery() {
  margin: 100px 0;
}

@mixin normal_section($x:0, $y:0) {
  margin: 100px $x 120px $y;
}

@mixin last_section($x:0, $y:0) {
  margin: 100px $x 0 $y;
}

@mixin hover_rec($top:20px) {
  margin: $top 0 0 2vw;
}

/*
-----------------------------------------------------------------------------
CENTER LINE TO SEPARATE SECTIONS
-----------------------------------------------------------------------------
*/
@mixin line_center {
  width: 200px;
  border: 0;
  height: 3px;
  background-color: $secondary;
  margin-left: calc(50% - 100px);
  margin-bottom: 30px;
}
