@import 'resources/palette',
'resources/fonts',
'resources/header',
'resources/input_style',
'resources/helpers',
'atoms/base';

*, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: $primary;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $h_margin;

  img {
    margin-right: 1vw;
  }

  input {
    width: 90%;
    @include search_bar();
    letter-spacing: $spacingsearch;
    &:focus {
      @include focus();
      @include transition();
    }
    &::placeholder {
      color: $notBlack;
    }
  }

  div {
    display: flex;
    justify-content: start;
    width: 70%;
  }

  h1 {
    @include font($main, $weighth1, $sizeh1, -1px);
    color: $secondary;
  }
}

.profile-shape {
  width: 45px;
  height: 45px;
  @include radius();
  overflow: hidden;

  img {
    height: 150%;
  }
}

.cover_image {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    height: 100%;
  }
  .round {
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    @include radius();
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play {
    width: 20%;
  }
}

.warp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio_video {
  background-color: $notBlack;
  display: grid;
  grid-template-columns: 12fr 1fr 1fr 5fr;
  grid-auto-rows: 7vw;
  grid-template-areas: "description score other prizes";

  p {
    display: inline-block;
    @include font($main, $weightp, $sizep);
  }

  span {
    @include font($main, $weightspan, $sizespan);
  }

  .score {
    @include font($main, $weightspan, $sizespan);
  }

  .other {
    @include font($main, $weightspan, $sizespan);
  }
}

.one {
  grid-area: description;
  @include center(row, space-between);
  margin: 0 25px;
}

.two {
  grid-area: score;
  background-color: $third;
  @include center();
}

.three {
  grid-area: other;
  background-color: $secondary;
  @include center();
}

.four {
  grid-area: prizes;
  @include center();
}
