@import 'resources/palette',
'resources/fonts',
'resources/header',
'resources/input_style',
'resources/helpers',
'atoms/base',
'atoms/margins';


body {
  height: 100%;
  width: 100%;
  background-color: $primary;
}

nav {
  @include center(row, space-between);
  @include vertical();
  margin: $h_margin;

  img {
    margin-right: 1vw;
  }

  input {
    width: 90%;
    @include search_bar();
    letter-spacing: $spacingsearch;
    &:focus {
      @include focus();
      @include transition();
    }
    &::placeholder {
      color: $notBlack;
    }
  }

  div {
    @include center(row, start);
    width: 70%;
  }

  h1 {
    @include font($main, $weighth1, $sizeh1, -1px);
    color: $secondary;
  }
}

.profile-shape {
  width: 45px;
  height: 45px;
  @include radius();
  overflow: hidden;

  img {
    height: 150%;
  }
}

.cover_image {
  height: auto;
  position: relative;
  @include center(row, center);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  .round {
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    @include radius();
    @include center(row, center);
    @include vertical();
  }

  .play {
    width: 20%;
  }
}

.warp_cover_video {
  @include center();
}

.bio_video {
  background-color: $notBlack;
  display: grid;
  grid-template-columns: 12fr 1.5fr 1.5fr 5fr;
  grid-auto-rows: 70px;
  grid-template-areas: "description score other prizes";

  p {
    display: inline-block;
    @include font($main, $weightp, $sizep);
  }

  span {
    @include font($main, $weightspan, $sizespan);
  }

  .score {
    @include font($main, $weightspan, $sizespan);
  }

  .other {
    @include font($main, $weightspan, $sizespan);
  }
}

.one {
  grid-area: description;
  @include center(row, space-between);
  @include vertical();
  margin: 0 25px;
}

.two {
  grid-area: score;
  background-color: $third;
  @include center();
  @include vertical();
}

.three {
  grid-area: other;
  background-color: $secondary;
  @include center();
  @include vertical();
}

.four {
  grid-area: prizes;
  @include center();
  @include vertical();
}

.description_section {
  @include description();
  h2 {
    @include font($main, $weighth2, $sizeh2);
    margin-bottom: 2vh;
  }

  p {
    @include font($main, $weighttext, $sizep);
  }

  h3 {
    @include font($main, $weighth3, $sizeh3);
    line-height: 1.9;
  }
}

.square {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-auto-rows: max-content;
  grid-template-areas: "desc director";

  div:nth-child(1) {
    grid-area: desc;
    margin-right: 6vw;
  }

  div:nth-child(2) {
    grid-area: director;
    color: $text_alpha;
    @include center(column, space-between);
  }
}

.gallery {
  width: 100%;
}

.image_gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 5), max-content));
  @include gallery();

  img {
    width: 100%;
  }
}


.split {
  @include line_center();
}
.subtitle {
  h2 {
    @include center(row, center);
    @include font($main, $weightsec, $sizesec);
    margin-bottom: 1vh;
  }
  p {
    @include center(row, center);
    @include font($main, $weighttext, $sizep);
    color: $text_alpha;
  }
}

.full_cast {
  color: $text_alpha;
  border-bottom: solid 3px $primary;
}

.full_cast:hover {
  color: $lettering;
  border-bottom: solid 3px $secondary;
  text-decoration: none;
}

.cast {
  width: 100%;
}

.cast_info {
  @include normal_section();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, calc(100vw / 7)));
  text-align: center;
  div {
    // position: relative;
    &.multiply {
      position: relative;
      margin-bottom: 1.5vh;
      line-height: 0;
      &:after {
        content: "";
        background: none;
      }
    }
    &:hover {
      h4 {
        color: $secondary;
      }
      &.multiply:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($secondary, 0.7);
      }
    }
  }

  img {
    position: relative;
    width: calc(100vw / 7);
    background-color: $lettering;
  }

  h4 {
    @include font($main, $weighth4, $sizeh4);
    color: $text_alpha;
  }

  p {
    @include font($main, $weightinfo, $sizeinfor);
    color: $text_alpha;
  }
}

.margin_details {
  // border: 1px solid red;
  @include normal_section();
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "topic info";
  .detail_topic {
    grid-area: topic;
    margin-right: 2vw;
    p {
      @include font($main, $weightspan, $sizespan);
      text-align: right;
    }
  }
  .detail_info {
    grid-area: info;
    margin-left: 2vw;
    p {
      @include font($main, $weightsec, $sizespan);
      strong {
        background-color: $secondary;
        @include font($main, $weightspan, $sizespan);
        padding: 0 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.long_text {
  @include normal_section(14vw, 14vw);
  p {
    @include font($main, $weightsec, $sizep);
  }
  h4 {
    @include font($main, $weightspan, $sizep);
  }
}

.list_questions {
  @include normal_section();
}

.shown_review {
  @include normal_section(14vw, 14vw);
  h4 {
    @include font($main, $weighth4, $sizespan);
  }
  p {
    @include font($main, $weightsec, $sizep);
  }
  strong {
    background-color: $secondary;
    @include font($main, $weightspan, $sizeh4);
    padding: 0 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.review_info {
  display: grid;
  grid-template-columns: 1fr 14fr;
  grid-auto-rows: 40px;
  grid-template-areas: "value detail";
  background-color: $notBlack;
  margin: 2vh 0 4vh 0;
  p {
    @include font($main, $weightsec, $sizeh4);
  }
  .review_score {
    @include user_center();
    grid-area: value;
    background-color: $secondary;
  }
  .review_detail {
    @include user_center();
    color: $text_alpha;
    grid-area: detail;
  }
}

.list_messages {
  width: 60%;
  @include user_center();
  @include normal_section(14vw, 14vw);
  p {
    @include font($main, $weightsec, $sizep);
  }
}

.recommended_grid {
  overflow: hidden;
  @include last_section();
  line-height: 0;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(auto-fit, minmax(100px, calc(100vw / 4)));
  div {
    p {
      @include font($main, $weightp, $sizeinfor);
      @include hover_rec(70%);
      span {
        @include font($main, $weightp, $sizesearch);
      }
    }
    &.rec_multiply {
      position: relative;
      line-height: 0;
      p, h5 {
        position: absolute;
        visibility: hidden;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
      }
      &:after {
        content: "";
        background: none;
        line-height: 0;
      }
    }

    &:hover {
      p, h5 {
        visibility: visible;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
      }
      &.rec_multiply:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($secondary, 0.8);
      }
    }
    img {
      width: calc(100vw / 4);
    }
  }
}
