/*
---------------------------------------------------------------
FONT IMPORT
---------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/*
---------------------------------------------------------------
H1 STYLING
---------------------------------------------------------------
*/

$main: 'Open Sans', sans-serif;
$weighth1: 800;
$sizeh1: 36px;
$spacingh1: -1px;

/*
---------------------------------------------------------------
H2 STYLING
---------------------------------------------------------------
*/

$weighth2: 300;
$sizeh2: 36px;

/*
---------------------------------------------------------------
H3 STYLING
---------------------------------------------------------------
*/

$weighth3: 800;
$sizeh3: 20px;

/*
---------------------------------------------------------------
H4 STYLING
---------------------------------------------------------------
*/

$weighth4: 800;
$sizeh4: 16px;


/*
---------------------------------------------------------------
SECTION TYTLE STYLING
---------------------------------------------------------------
*/

$weightsec: 300;
$sizesec: 32px;

/*
---------------------------------------------------------------
SEARCH STYLING
---------------------------------------------------------------
*/

$weightsearch: 300;
$sizesearch: 24px;
$spacingsearch: 1px;

/*
---------------------------------------------------------------
P STYLING
---------------------------------------------------------------
*/

$weightp: 400;
$sizep: 18px;

$weighttext: 300;

/*
---------------------------------------------------------------
INFO P STYLING
---------------------------------------------------------------
*/

$weightinfo: 400;
$sizeinfor: 14px;

/*
---------------------------------------------------------------
SPAN STYLING
---------------------------------------------------------------
*/

$weightspan: 800;
$sizespan: 18px;

/*
---------------------------------------------------------------
MIXIN FOR TEXT STYLE
---------------------------------------------------------------
*/

@mixin font($family, $weight, $size, $spacing:normal, $line:1.6) {
  font-family: $family,;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
  line-height: $size * $line;
}
