/*
---------------------------------------------------------------
FONT IMPORT
---------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/*
---------------------------------------------------------------
H1 STYLING
---------------------------------------------------------------
*/

$main: 'Open Sans', sans-serif;
$weighth1: 800;
$sizeh1: 36px;
$spacingh1: -1px;

/*
---------------------------------------------------------------
SEARCH STYLING
---------------------------------------------------------------
*/

$weightsearch: 300;
$sizesearch: 28px;
$spacingsearch: 1px;
