/*
---------------------------------------------------------------
HEADER STYLING
---------------------------------------------------------------
*/

$h_margin: 40px 40px 40px 40px;

/*
--------------------------------------------------------------------------------
ROUND SHAPES AFF
--------------------------------------------------------------------------------
*/

@mixin radius($color:$primary) {
    border: 1px solid $color;
    border-radius: 50%;
}
