/*
--------------------------------------------------------------------------------
INPUT STYLING
--------------------------------------------------------------------------------
*/

@mixin search_bar() {
  border: none;
  font-family: $main;
  font-size: $sizesearch;
  font-weight: $weightsearch;
}
