/*
---------------------------------------------------------------
COLOR PALETTE
---------------------------------------------------------------
*/

$primary: white;
$lettering: black;
$secondary: #FED030;
$third: #7CF899;
$notBlack: #E6E7E8;
